/*general styling and size of the whole page*/
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    background-color: #FFFCF9;
}

.container {
    width: 90%;
    display: block;
}

.content {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}

/*anything with left and block will site next to each other*/
.left {
    float: left;
}

.block {
    display: block;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 48px;
    text-decoration: underline;
    text-decoration-thickness: 9px;
    text-decoration-color: #DFA67D;
    color: #263061;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0;
}

p {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 30px;
}

/*anything with this class name with have this font */
.joann {
    font-family: 'Edwardian Script ITC';
}

/*set width of logo in header */
/* https://www.w3schools.com/howto/howto_css_image_center.asp used for centering top logo*/
.TopLogo {
    max-width: 33.3vh;
}

/*centers content with this class name */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/*navigation stlying */
/* https://stackoverflow.com/questions/2939914/how-do-i-vertically-align-text-in-a-div used for styling nav*/
nav {
    display: flex;
    justify-content: left;
    text-align: center;
}

nav li {
    list-style: none;
    padding-bottom: 15px;
    padding-top: 15px;
}

.nav {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 36px;
    text-transform: uppercase;
    color: #263061;
}

/*portfolio stlying */
.BTT {
    position: relative;
    right: 5%;
    bottom: 59px;
    display: flex;
    justify-content: right;
    padding-top: 60px;
}

a {
    text-decoration: none;
}

.topics {
    width: 100%;
}

.topics ul {
    display: flex;
    justify-content: space-between;
}

/*.topics select {
    display: none;
}*/

#topic_select {
    display: none;
}

.topics li {
    list-style: none;
    
    margin: auto 0;
}

.topics li button {
    color: #263061;
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
}

.active {
    text-decoration: underline;
    text-decoration-thickness: 9px;
    text-decoration-color: #DFA67D;
}


.photos {
    line-height: 40px;
     
    column-count: 4;
    column-width: 20vw;
    column-gap: 10px;  
    column-fill: balance;
    
  }
  
.photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    break-inside: avoid;
  }

.small {
    height: 90vh;
}

.med {
    height: 105vh;
}

.img-container {
    position: relative;
}

.overlay {
        width: inherit;
        height: calc(100% - 15px);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        background-color: #0300A5;
        overflow:hidden;
}

.img-container:hover .overlay {
    opacity: 0.65;
}

/*project details stlying */
.details {
    width: 50%;
    height: fit-content;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}

.projImage {
    width: 50%;
    vertical-align: top;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    /*based on https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

/*based on https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp, for Chrome, Safari and Opera */
.projImage::-webkit-scrollbar {
    display: none;
  }

.projImage img {
    width: 100%;
    
}

.title {
    margin-bottom: 43px;
}

/*footer stlying */
footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: auto;
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: black;
    padding: 1rem;
}



/*based on https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/ */
/*for tablets devices*/
@media screen and (max-width: 820px) {

    .container {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        display: inline-block;
    }

    .content {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        display: inline-block;
    }

    nav {
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
    }

    nav ul {
        padding-left: 0;
    }

    .photos {
        line-height: 40px;
         
        column-count: 3;
        column-width: 30vw;
        column-gap: 10px;  
        column-fill: balance;
        
      }
    .topics ul    { 
        display: none; 
    }
    #topic_select { 
        display: block; 
        width: 25%;
        padding-bottom: 22px;

    }
    
    .topicbtn {
        background-color: #DFA67D;
        color: #263061;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .small {
        height: 100%;
    }
    
    .med {
        height: 100%;
    }

    .details {
        width: 100%;
        text-align: center;
    }
    
    .projImage {
        width: 100%;
    }

    p {
        font-size: 16px;
        text-align: center;
    }

    h1 {
        font-size: 36px;
    }
}

/*for mobile devices*/
@media screen and (max-width: 480px) {

    .container {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        display: inline-block;
    }

    .content {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        display: inline-block;
    }

    nav {
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
    }

    nav ul {
        padding-left: 0;
    }

    .BTT {
        width: 90%;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .photos {
        line-height: 40px;
         
        column-count: 1;
        /*column-width: 100%;*/
        column-gap: 10px;  
        column-fill: balance;
        
      }
    .topics ul      { 
        display: none; 
    }
    .topics select { 
        display: block; 
        width: 25%;
        padding-bottom: 29px;
    }

    .small {
        height: 100%;
    }
    
    .med {
        height: 100%;
    }

    .details {
        width: 100%;
        text-align: center;
    }
    
    .projImage {
        width: 100%;
    }

    p {
        font-size: 16px;
        text-align: center;
    }

    h1 {
        font-size: 36px;
    }
}