html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    
}

body {
    overflow-x: hidden;
    position: relative;
    background-color: #FFFCF9;
}

.container {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 48px;
    text-decoration: underline;
    text-decoration-thickness: 9px;
    text-decoration-color: #DFA67D;
}

.TopLogo {
    max-width: 380px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav {
    display: flex;
    justify-content: left;
    text-align: center;
}

nav li {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 36px;
    text-transform: uppercase;
    list-style: none;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
}

nav li a {
    color: #263061;
}

.left {
    float: left;
}

.block {
    display: block;
}

.topics {
    width: 100%;
    
}

.topics ul {
    display: flex;
    justify-content: space-between;
}

.topics select {
    display: none;
}

.topics li {
    list-style: none;
    
    margin: auto 0;
}

.topics li button {
    color: #263061;
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
}

.active {
    text-decoration: underline;
    text-decoration-thickness: 9px;
    text-decoration-color: #DFA67D;
}

footer {
    display: flex;
    justify-content: left;
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: black;
}